.wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.ul {
  display: flex;
  gap: 24px;
}

.li {
  list-style-type: none;
}

.li:hover {
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.svg {
  vertical-align: top;
}
