.header {
  width: 100%;
  height: 36px;
  background-color: #f5f5f5;
}

.container {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 12px;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
  opacity: 0.7;
}

.line {
  color: #111111;
}
